body {
    background-color: rgb(255, 212, 241);
}

#image {
    width: 100%;
    height: auto;
    align-self: center;
}

.image-div {
    display: flex;
    justify-content: center;
    width: 90svw;
    height: 90svw;
    border-radius: 10svh;
    background-color: #ffc8fc;
}

#box {
    height: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
}

h1 {
    font-size: 10svh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
    font-weight: 600;
}

h2 {
    font-size: 5svh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: 600;
    margin: 0;
}

p {
    font-size: 3svh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: 600;
    margin: 0;
}

button {
    background-color: rgb(255, 212, 241);
    color: white;
    border: white 5px solid;
    border-radius: 1svh;
    font-size: 3svh;
    font-weight: 700;
    transition: 0.25s;
}

ul {
    color: #ffc8fc;
}

a {
    color: #ffc8fc;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3svh;
}

.panel-div {
    justify-content: center;
    border-radius: 1svh;
    background-color: #ffc8fc;
    padding: 1svh;
}

.menu_button {
    width: 11 svh;
    height: 10svh;
    border-radius: 1svh;
    font-size: 3svh;
    font-weight: 700;
    transition: 0.25s;
}

button:hover {
    background-color: rgb(200, 150, 220);
    scale: 1.1;
    border-radius: 2svh;
    font-size: 3.1svh;
}

.menu {
    position: fixed;
    left: -50%;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 2svh;
    border-color: #ffc8fc;
    transition: display 0.5s allow-discrete, overlay 1s allow-discrete;
    animation: close 0.4s forwards;
    &[open] {
        animation: open 0.5s forwards;
    }
}

.back_button {
    background-color: white;
    color: rgb(255, 212, 241);
    border: rgb(255, 212, 241) 5px solid;
    border-radius: 1svh;
    font-size: 3svh;
    font-weight: 700;
    transition: 0.25s;
    margin-left: 50%;
}

@keyframes open {
    from {
      left: -200%;
    }
    to {
      left: -50%;
    }
}
  
@keyframes close {
    from {
      left: -50%;
    }
    to {
      left: -200%;
    }
}