html, body {
    aspect-ratio: 9 / 16;
    display: flex;
    justify-content: center;
}

body {
    background: linear-gradient(180deg, #8e2de2, #4a00e0);
    background-size: cover;
    height: 100vh;
    font-family: 'Baloo 2';
    margin: 0;
    overflow: hidden;
    transition: all 0.5s linear;
    animation-fill-mode: both;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0, 0.6);
    border: #fff solid 0.5svh;
    border-radius: 2svh;
    padding: 2svh;
    animation: fade-in-out 5s ease-in-out;
    animation-fill-mode: forwards;
}

.popup-content {
    text-align: center;
    color: red;
    font-weight: bolder;
}

@keyframes fade-in-out {
    from {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.loading {
    position: fixed;
    background-color: rgb(0, 0, 0, 0.5);
    border: #fff solid 1svh;
    border-radius: 2svh;
    font-size: 8svh;
}

.is_2x_body {
    background: linear-gradient(180deg, #ff0000, #ffeb3b);
}

.is_2x {
    animation: rotate 5s infinite ease-in-out, zoom 4s infinite ease-in-out;
    animation-fill-mode: forwards;
    transition: all 1s ease-in-out;
}

.stopped {
    animation: none;
    transition: all 1s ease-in-out;
    rotate: 0;
    scale: 1;
}

@keyframes rotate {
    from {
        rotate: -15deg;
    }
    50% {
        rotate: 15deg;
    }
    to {
        rotate: -15deg;
    }
}

@keyframes zoom {
    from {
        scale: 1;
    }
    50% {
        scale: 1.5;
    }
    to {
        scale: 1;
    }
}

.x2-text {
    z-index: 9999999;
    position: fixed;
    width: 95%;
    padding: 0.5svh;
    left: 0;
    top: -50%;
    color: red;
    font-size: 8svh;
    text-align: center;
    font-weight: bolder;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 2svh;
    border: #fff solid 0.8svh;
    transition: all 0.75s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.content {
    display: block;
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
}

#image {
    width: 100%;
    height: auto;
    align-self: center;
    border-color: white;
    border-style: solid;
    border-width: 0.8svh;
    border-radius: 50%;
    padding: 0.5svh;
    box-shadow: 0 0 2svh #fff;
    transition: all cubic-bezier(0.25, 1.5, 0.5, 1) 0.5s;
}

.image-div {
    display: flex;
    justify-content: center;
    width: 90%;
    aspect-ratio: 1/1;
    border-radius: 10svh;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1svh;
}

#box {
    height: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
}

h1 {
    font-size: 10svh;
    color: white;
    text-align: center;
    font-weight: 600;
}

.counter-bg {
    background-color: rgb(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    min-width: 25svh;
    border-radius: 2svh;
}

.counter {
    padding: 0;
    margin: 0;
    width: fit-content;
    min-width: 25svh;
    height: fit-content;
    transition: all cubic-bezier(0.25, 1.5, 0.5, 1) 0.5s;
}

.counter-div {
    justify-content: center;
    display: flex;
    margin: 3svh;
}

h2 {
    font-size: 5svh;
    color: white;
    font-weight: 600;
    margin: 0;
}

p {
    font-size: 3svh;
    color: white;
    font-weight: 600;
    margin: 0;
}

button {
    color: white;
    border: white 0.5svh solid;
    border-radius: 1svh;
    font-size: 3svh;
    font-weight: 700;
    transition: 0.25s;
    background-color: #303f9f;
    color: #ffffff;
    font-family: 'Baloo 2';
}

ul {
    color: #ffc8fc;
}

a {
    color: #ffc8fc;
    font-weight: bold;
    font-size: 3svh;
}

.panel-div {
    display: flex;
    border-radius: 1svh;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1svh;
}

.menu_button {
    width: 10svh;
    height: 10svh;
    border-radius: 1svh;
    font-size: 3svh;
    transition: 0.25s;
}

button:hover {
    background-color: #9292da;
    box-shadow: 0 0 1svh #fff;
    scale: 1.1;
    font-size: 3.1svh;
}

.menu {
    position: fixed;
    left: -50svw;
    top: 0;
    width: 25svw;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 2svh;
    border: #fff solid 0.5svh;
}

.opened {
    animation: opened 0.5s forwards cubic-bezier(0.25, 1.5, 0.5, 1);
}

@keyframes opened {
    from {
        left: -50svw
    }
    to {
        left: 0;
    }
}

.closed {
    animation: closed 0.5s forwards cubic-bezier(0.25, 1.5, 0.5, 1);
}

@keyframes closed {
    from {
        left: 0;
    }
    to {
        left: -50svw;
    }
}

.back_button {
    border-radius: 1svh;
    font-size: 3svh;
    font-weight: 700;
    transition: 0.25s;
    margin-left: 50%;
}

.error {
    color: red;
    font-weight: bolder;
}

li {
    list-style-type: none;
}

a {
    padding: 0;
    font-style: normal;
    text-decoration: none;
    position: relative;
    transition: all ease 1s;
    color: #fff;
}

a::after {
    content: '';
    position: absolute;
    bottom: 0.2svh;
    left: 0;
    width: 0;
    height: 0.5svh;
    background-color: #fff;
    transition: width 0.3s ease;
    border-radius: 0.3svh;
}

a:hover::after {
    width: 100%;
}

.back {
    color: #ffffff;
    font-weight: bold;
    transition: all ease 1s;
    padding: 0.5svh 0.75svh;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 1svh;
    margin: 0;
    padding: 0;
    padding-left: 1svh;
    padding-right: 1svh;
}

.back::after {
    background-color: #ffffff;
}